html {
    background: #f8f8f8;
    color: #333;
    font-family: ui-sans-serif, "Roboto", "Inter", "Arial", system-ui, sans-serif;
    font-size: 106.25%;
    line-height: 1.5;
    padding: .5rem
}
body {

    margin: auto;
    max-width: 70ch;
}

header, main, footer {
    background: #FFF;
    border: 2px solid #EEE;
    padding: 1rem;
}

body > *+* {
    margin-block: 1rem;
}

.sitetitle {
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

main > *+* {
    margin-block: 1rem;
}

h1 {
    font-size: 1.69em;
    margin: 0;
}

h2 {
    font-size: 1.3rem
}

figure {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

li {
    margin-block: .5rem;
}

a {
    color: inherit;
    text-decoration-thickness: .2ch;
    text-underline-offset: .2ch;
}

.information {
    background: hsl(0, 100%, 95%);
    color: hsl(0, 100%, 20%);
    border: .2rem solid hsl(0, 100%, 50%);
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
}